{{define "List-Distribuir-Atividades"}}
<!-- List Distribuir Atividades -->
<form action="/updateDistribuirAtividades" method="POST">
	<div id="main" class="w3-row-padding">
			<header class="w3-container w3-center w3-teal">
			    <div class="aria">
					<div style="margin-top: 6px;text-align: left;z-index:1">
			    		<a style="font-size:28px;cursor:pointer" onclick="navGadget()">
							&#9776; {{.AppName}}
			    		</a>
					</div>
					    <h3>{{.Title}}</h3>
					<div style="margin-top: 10px;">
	                    <span style="position:absolute; top:34px; right:120px">{{.LoggedUser.User.Name}} ( {{.LoggedUser.User.RoleName}} )</span>
						{{ if eq .LoggedUser.User.RoleName "Chefe"}}
						<script type="text/javascript">
							isChefe = true;
						</script>
						{{end}}
						{{$allowed := (call .LoggedUser.HasPermission "distribuirAtividades")}}
					    <a style="margin-top: 6px" href="/logout">
							<span class="icon ion-log-out w3-xxlarge hoverbtn"></span>
						</a>
					</div>
			    </div>
			</header>
		        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable" 
						style="border: 1px solid red">
					<script type="text/javascript">
						entidadesMap = new Map();
						ciclosMap = new Map();
						pilaresMap = new Map();
						componentesMap = new Map();
						auditoresMap = new Map();
					</script>
		            <tr class="tabela">
		                <td style="width: 5%">Ord</td>
		                <td style="width: 5%">Nível</td>
		                <td style="width: 35%">Sumário</td>
		                <td style="width: 10%">Planos</td>
		                <td style="width: 25%">Equipe</td>
		                <td style="width: 10%">Cronograma</td>
		                <td style="width: 10%;text-align:center">Ações</td>
		            </tr>
					{{$primeiraLinha := true}}
					{{$auxSumario := ""}}
					{{$currentUser := .LoggedUser.User.Id}}
					{{$curUserRole := .LoggedUser.User.RoleName}}
					{{range $i, $auditor := $.Auditores }}
					<script type="text/javascript">
						auditoresMap.set("{{$auditor.Id}}","{{$auditor.Name}}");
					</script>
					{{end}}
		            {{range $index, $produto := $.Produtos}}
					<script type="text/javascript">
						entidadesMap.set("{{$produto.EntidadeId}}","{{$produto.EntidadeNome}}");
						ciclosMap.set("{{$produto.CicloId}}","{{$produto.CicloNome}}");
						pilaresMap.set("{{$produto.PilarId}}","{{$produto.PilarNome}}");
						componentesMap.set("{{$produto.ComponenteId}}","{{$produto.ComponenteNome}}");
					</script>
					{{if $primeiraLinha}}
		            <tr>
		                <td style="vertical-align:middle; border:1px solid #ddd;">&nbsp;</td>
		                <td style="vertical-align:middle; border:1px solid #ddd;text-align:left">Entidade</td>
		                <td style="vertical-align:middle; font-size: 1.3em;border:1px solid #ddd;text-align:left;padding-left: 5px">
							{{$produto.EntidadeNome}}</td>
						<td style="vertical-align:middle; border:1px solid #ddd;">&nbsp;						
						</td>
		                <td style="vertical-align:middle; border:1px solid #ddd;">Supervisor</td>
		                <td style="vertical-align:middle; border:1px solid #ddd;">&nbsp;</td>
		                <td style="vertical-align:middle; border:1px solid #ddd;">&nbsp;</td>
		            </tr>
		            <tr>
		                <td style="vertical-align:middle; border:1px solid #ddd;">&nbsp;</td>
						<td style="vertical-align:middle; border:1px solid #ddd;text-align:left">&nbsp;&nbsp;Ciclo</td>
		                <td style="vertical-align:middle; border:1px solid #ddd;text-align:left;padding-left: 10px">&nbsp;&nbsp;{{$produto.CicloNome}}</td>
						<td style="vertical-align:middle; border:1px solid #ddd;">&nbsp;</td>
		                <td>
							<input name="SupervisorComponenteId" type="hidden" value="{{$produto.SupervisorId}}">
							<input class="w3-input" type="text" readOnly disabled value="{{$produto.SupervisorName}}">
						</td>
						<td style="vertical-align:middle; border:1px solid #ddd;">&nbsp;</td>
		                <td style="vertical-align:middle; border:1px solid #ddd;">&nbsp;</td>
		            </tr>
					{{$primeiraLinha = false}}
					{{end}}
					{{if ne $auxSumario $produto.PilarNome}}
	            	<tr>
	                	<td style="vertical-align:middle; border:1px solid #ddd;">&nbsp;</td>
						<td style="vertical-align:middle; border:1px solid #ddd;text-align:left">&nbsp;&nbsp;&nbsp;Pilar</td>
		                <td style="vertical-align:middle; border:1px solid #ddd;text-align:left;padding-left: 20px">&nbsp;&nbsp;&nbsp;{{$produto.PilarNome}}</td>
						<td style="vertical-align:middle; border:1px solid #ddd;">&nbsp;</td>
		                <td style="border:1px solid #ddd;vertical-align:middle;">Auditores</td>
						<td style="vertical-align:middle; border:1px solid #ddd;">
							<table width="100%">
								<tr>
									<td>Inicia Em</td>
									<td>Termina Em</td>
								</tr>
							</table>						
						</td>
						<td style="vertical-align:middle; border:1px solid #ddd;">&nbsp;</td>
						{{$auxSumario = $produto.PilarNome}}
	            	</tr>
					{{end}}
		            <tr>
						<td style="vertical-align:middle; border:1px solid #ddd;">{{$produto.Order}}</td>
						<td style="vertical-align:middle; border:1px solid #ddd;text-align:left">
							&nbsp;&nbsp;&nbsp;&nbsp;Componente</td>
		                <td style="vertical-align:middle; border:1px solid #ddd;text-align:left;padding-left: 30px">
							&nbsp;&nbsp;&nbsp;&nbsp;{{$produto.ComponenteNome}}</td>
						<td style="border:1px solid #ddd;vertical-align:middle; "><!-- PLANOS -->
							<input type="hidden" 
								id="Planos_AuditorComponente_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}_{{$produto.AuditorId}}"
								name="Planos_AuditorComponente_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}_{{$produto.AuditorId}}"
								value="">
							<input type="hidden"								
								id="SomentePGA_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}"
								value="{{$produto.SomentePGA}}">
							{{if eq $produto.Configurado "S"}}
	                    	<button class="w3-btn w3-green"
							{{else}}
							<button class="w3-btn w3-red"
							{{end}}
								type="button"
								name="BtnPlanos_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}_{{$produto.AuditorId}}"
								onclick="openConfigPlanos(this)">Planos</button>&nbsp;								
						</td>
		                <td style="border:1px solid #ddd;vertical-align: middle">
							<select class="w3-input" onchange="sinalizarAlteracao(this);motivarRemocao(this);"
							{{if and (ne $produto.SupervisorId $currentUser) (ne $curUserRole "Chefe") }}disabled{{end}}
								name="AuditorComponente_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}_{{$produto.AuditorId}}">
								<option value=""></option>
								{{range $i, $auditor := $.Auditores }}
					                <option value="{{$auditor.Id}}" {{if eq $produto.AuditorId $auditor.Id}}selected{{end}}>
										{{$auditor.Name}}
									</option>
				           		{{end}}
			            	</select>
							<input type="hidden" name="MotivacaoRemocao" value="">
							<input type="hidden" name="Entidade_Componente_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}_{{$produto.AuditorId}}" value="{{$produto.EntidadeId}}"/>
							<input type="hidden" name="Ciclo_Componente_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}_{{$produto.AuditorId}}" value="{{$produto.CicloId}}"/>
							<input type="hidden" name="Pilar_Componente_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}_{{$produto.AuditorId}}" value="{{$produto.PilarId}}"/>
							<input type="hidden" name="Componente_Componente_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}_{{$produto.AuditorId}}" value="{{$produto.ComponenteId}}"/>
						</td>
						<td style="vertical-align:middle; border:1px solid #ddd;">
							<table width="100%">
								<tr>
									<td>
										<input 
											class="w3-input" 
											type="date" 
											onchange="motivarReprogramacao(this,'início');"
											name="IniciaEmComponente_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}_{{$produto.IniciaEm}}" 
											value="{{$produto.IniciaEm}}">
									</td>
									<td>
										<input 
											class="w3-input" 
											type="date" 
											onchange="motivarReprogramacao(this,'término');"
											name="TerminaEmComponente_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}_{{$produto.TerminaEm}}" 
											value="{{$produto.TerminaEm}}">
									</td>
								</tr>
							</table>
						</td>
						{{if $allowed}}
		                <td style="border:1px solid #ddd;vertical-align:middle; ">
							<button type="button" 
								class="w3-btn w3-brown" 
								name="HistoricoComponente_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}" 
								onclick="openHistComponente(this)">Histórico</button>
		                </td>
						{{end}}
		            </tr>
		            {{end}}
					<tr>
						<td colspan="7" style="text-align: center">
							<button class="w3-btn w3-teal w3-margin-top w3-margin-bottom"
								type="submit"
								onclick="">
								Salvar
							</button>
						</td>
					</tr>
		        </table>
	    </div>
	</div>
	<input type="hidden" name="AcionadoPor" id="AcionadoPor" value="">
</form>
{{end}}
