{{define "Edit-Ciclo-Entidade"}}
<!-- Edit Ciclo Entidade Form -->
<div class="w3-container">
    <div id="edit-ciclo-entidade-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="top:50px ;width: 1000px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Editar vínculo com o ciclo</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('edit-ciclo-entidade-form').style.display='none'">&times;</span>
            </div>
            <form class="w3-container" id="formulario-ciclo-entidade-edit">
				<input type="hidden" id="Id-CEForUpdate" value="" readonly="readonly" disabled="disabled">
				<input type="hidden" id="Order-CEForUpdate" value="" readonly="readonly" disabled="disabled">
				<input type="hidden" id="EntidadeId-CEForUpdate" value="" readonly="readonly" disabled="disabled">
				<label class="w3-label">Ciclos</label>
				<br>
	            <select class="w3-input" name="CicloEntidadeForUpdate" id="CicloEntidadeForUpdate">
	                <option value=""></option>
					{{range $index, $ciclo := .Ciclos }}
		                <option value="{{$ciclo.Id}}">
							{{$ciclo.Nome}}
						</option>
		            {{end}}
	            </select>
				<label class="w3-label">Tipo de Média</label>
				<br>
	            <select class="w3-input" name="TipoMediaForUpdate" id="TipoMediaForUpdate" style="width:100%">
	                <option value="1">Aritmética</option>
	                <option value="2">Geométrica</option>
	                <option value="3">Harmônica</option>
	            </select>
				<br>
                <label class="w3-label">Inicia Em</label>
				<input class="w3-input" type="date" id="IniciaEmForUpdate" name="IniciaEmForUpdate" value="">
                <label class="w3-label">Termina Em</label>
				<input class="w3-input" type="date" id="TerminaEmForUpdate" name="TerminaEmForUpdate" value="">
                <button 
					class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" 
					type="button"
					onclick="updateCicloEntidade();"
					>Salvar
				</button>
            </form>
        </div>
    </div>
</div>
{{end}}