{{ define "Main-Entidades" }}
<html lang="pt">
	{{ template "Header" .Title }}
<body>
{{ template "Error-Message" .ErrMsg }}
{{ template "Menu" . }}
{{ template "Delete-Entidade" . }}
{{ template "Edit-Entidade" . }}
{{ template "Create-Entidade" . }}
{{ template "Delete-Plano" . }}
{{ template "Edit-Plano" . }}
{{ template "Create-Plano" . }}
{{ template "Delete-Ciclo-Entidade" . }}
{{ template "Edit-Ciclo-Entidade" . }}
{{ template "Create-Ciclo-Entidade" . }}
{{ template "List-Entidades" . }}
</body>
</html>
{{end}}
