{{define "List-Entidades-Matrizes"}}
<!-- List Entidades Matrizes -->
<div id="main" class="w3-row-padding">
		<header class="w3-container w3-center w3-teal">
		    <div class="aria">
				<div style="margin-top: 6px;text-align: left;z-index:1">
		    		<a style="font-size:28px;cursor:pointer" onclick="navGadget()">
						&#9776; {{.AppName}}
		    		</a>
				</div>
				    <h3>{{.Title}}</h3>
				<div style="margin-top: 10px;">
                    <span style="position:absolute; top:34px; right:120px">{{.LoggedUser.User.Name}} ( {{.LoggedUser.User.RoleName}} )</span>
					{{$allowed := (call .LoggedUser.HasPermission "viewMatriz")}}
				    <a style="margin-top: 6px" href="/logout">
						<span class="icon ion-log-out w3-xxlarge hoverbtn"></span>
					</a>
				</div>
		    </div>
		</header>
        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable">
            <thead>
            <tr>
                <th style="width:5%">Ord</th>
                <th style="width:5%">Id</th>
                <th style="text-align:left; width:65%">Nome</th>
                <th style="text-align:left; width:20%">Ciclos</th>
				{{if $allowed}}
				<th style="width:5%">Ações</th>
				{{end}}
            </tr>
            </thead>
            <tbody>
            {{range $index, $entidade := .Entidades}}
            <tr>
                <td style="vertical-align: middle;">#{{$entidade.Order}}</td>
                <td style="vertical-align: middle;">{{$entidade.Id}}</td>
                <td style="vertical-align: middle;text-align:left">
					{{$entidade.Nome}}
				</td>
                <td style="vertical-align: middle;">
					<select class="w3-input">
						{{range $i, $cicloEntidade := $entidade.CiclosEntidade }}
			                <option value="{{$cicloEntidade.Id}}">
								{{$cicloEntidade.Nome}}
							</option>
			            {{end}}
		            </select>
				</td>
				{{if $allowed}}
                <td style="vertical-align: middle;">
                    <button class="w3-btn w3-teal" onclick="submeterEntidadeCicloForm(this,'formulario-executar-matriz')">Executar</button>
                </td>
				{{end}}
            </tr>
            {{end}}
            </tbody>
        </table>
		<form action="/executarMatriz" method="POST" id="formulario-executar-matriz">
			<input type="hidden" id="EntidadeId" name="EntidadeId">
			<input type="hidden" id="CicloId" name="CicloId">
		</form>
    </div>
</div>
{{end}}