{{define "Matriz2"}}
<!-- Matriz -->
<div id="main" class="w3-row-padding">
		<header class="w3-container w3-center w3-teal">
		    <div class="aria">
				<div style="margin-top: 6px;text-align: left;z-index:1">
		    		<a style="font-size:28px;cursor:pointer" onclick="navGadget()">
						&#9776; {{.AppName}}
		    		</a>
				</div>
				    <h3>{{.Title}}</h3>
				<div style="margin-top: 10px;">
                    <span style="position:absolute; top:34px; right:120px">{{.LoggedUser.User.Name}} ( {{.LoggedUser.User.RoleName}} )</span>
					{{$allowed := (call .LoggedUser.HasPermission "viewMatriz")}}
				    <a style="margin-top: 6px" href="/logout">
						<span class="icon ion-log-out w3-xxlarge hoverbtn"></span>
					</a>
				</div>
		    </div>
		</header>
		<form action="/updateMatriz" method="POST">
        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable" max-width="100%">
			{{$primeiroPlano := true}}
			{{$primeiraLinha := true}}
			{{$auxEntidade := 0}}
			{{$notaCiclo := ""}}
			{{$auxPlano := 0}}
			{{$auxPilar := 0}}
			{{$auxComponente := 0}}
			{{$auxTipoNota := 0}}
			{{$componenteColSpan := ""}}
			{{$pilarColSpan := ""}}
			{{$cicloColSpan := ""}}
			{{$elementoNota := ""}}
			{{$elementoPeso := ""}}
			{{$currentUser := .LoggedUser.User.Id}}
            <tr>
				<td style="vertical-align:middle; border: 1px solid lightgrey" rowspan="5" colspan="2">EFPC</td>
				{{range $index, $m := .ElementosDaMatriz}}
					{{if $primeiraLinha}}
						{{$primeiraLinha = false}}
						{{$notaCiclo = $m.CicloNota}}
						{{$cicloColSpan = $m.CicloColSpan}}
						<td style="font-size:2em;border: 1px solid lightgrey" colspan="{{$m.CicloColSpan}}">{{$m.CicloNome}}</td>
					{{end}}
				{{end}}
            </tr>
            <tr>
				{{$primeiraLinha := true}}
				{{range $index, $m := .ElementosDaMatriz}}
					{{if ne $auxPlano $m.PlanoId}}
						{{ if and (ne $auxPlano 0) $primeiroPlano }}
							{{$primeiroPlano = false}}
						{{ end }}
						{{ $auxPlano = $m.PlanoId }}
					{{end}}
					{{if $primeiraLinha}}
						{{$primeiraLinha = false}}
						{{$notaCiclo = $m.CicloNota}}
						{{$cicloColSpan = $m.CicloColSpan}}
					{{end}}
					{{if and $primeiroPlano (ne $auxPilar $m.PilarId)}}
						{{$auxPilar = $m.PilarId}}
						<td style="font-size:1.4em;border: 1px solid lightgrey" colspan="{{$m.PilarColSpan}}">{{$m.PilarNome}}</td>
					{{end}}
				{{end}}
            </tr>
			{{$auxPlano = 0}}
			{{$primeiroPlano = true}}
			<tr>
				{{range $index, $m := .ElementosDaMatriz}}
					{{if ne $auxPlano $m.PlanoId}}
						{{ if and (ne $auxPlano 0) $primeiroPlano }}
							{{$primeiroPlano = false}}
						{{ end }}
						{{ $auxPlano = $m.PlanoId }}
					{{end}}				
					{{if and $primeiroPlano (ne $auxComponente $m.ComponenteId)}}
						{{$auxComponente = $m.ComponenteId}}
						<td style="font-size:1.1em;border: 1px solid lightgrey" colspan="{{$m.ComponenteColSpan}}">{{$m.ComponenteNome}}</td>
					{{end}}
				{{end}}
			</tr>
			{{$auxPlano = 0}}
			{{$primeiroPlano = true}}			
			<tr>
				{{range $index, $m := .ElementosDaMatriz}}
					{{if ne $auxPlano $m.PlanoId}}
						{{ if and (ne $auxPlano 0) $primeiroPlano }}
							{{$primeiroPlano = false}}
						{{ end }}
						{{ $auxPlano = $m.PlanoId }}
					{{end}}					
					{{if and $primeiroPlano (ne $auxComponente $m.ComponenteId)}}
						{{$auxComponente = $m.ComponenteId}}
							<td style="border: 1px solid lightgrey" 
								colspan="{{$m.ComponenteColSpan}}">
								{{$m.ComponenteNota}}</td> 
					{{end}}
				{{end}}
			</tr>
			{{$auxPlano = 0}}
			{{$primeiroPlano = true}}						
			<tr>
				{{range $index, $m := .ElementosDaMatriz}}
					{{if ne $auxPlano $m.PlanoId}}
						{{ if and (ne $auxPlano 0) $primeiroPlano }}
							{{$primeiroPlano = false}}
						{{ end }}
						{{ $auxPlano = $m.PlanoId }}
					{{end}}					
					{{ $bgColor := (printf "%v%v" "#" $m.TipoNotaCorLetra ) }}
					{{if and ($primeiroPlano) (or (ne $auxTipoNota $m.TipoNotaId) (ne $auxComponente $m.ComponenteId)) }}
						{{$auxTipoNota = $m.TipoNotaId}}
						{{$auxComponente = $m.ComponenteId}}
							<td style="background-color:{{print $bgColor}};border: 1px solid lightgrey">{{$m.TipoNotaLetra}}</td> 
					{{end}}
				{{end}}
			</tr>
			{{$auxPlano = 0}}
			{{$primeiroPlano = true}}
			{{$auxTipoNota = 0}}				
			<tr>
				{{range $index, $m := .ElementosDaMatriz}}
					{{if ne $auxPlano $m.PlanoId}}
						{{ if ne $auxPlano 0 }}
						</tr>
						{{ end }}		
						<tr>
					{{end}}
					{{if ne $auxEntidade $m.EntidadeId}}
						{{$auxEntidade = $m.EntidadeId}}
							<td style="font-size:1.5em; vertical-align:middle" rowspan="{{$m.EntidadeQtdPlanos}}">{{$m.EntidadeNome}}</td>
					{{end}}					
					{{if ne $auxPlano $m.PlanoId}}						
							<td style="border: 1px solid lightgrey" title="{{$m.Modalidade}} - {{$m.RecursoGarantidor}}">{{$m.CNPB}}</td>
							{{$auxPlano = $m.PlanoId}}
					{{end}}
					{{if or (ne $auxTipoNota $m.TipoNotaId) (ne $auxComponente $m.ComponenteId)}}
						{{$auxTipoNota = $m.TipoNotaId}}
						{{$auxComponente = $m.ComponenteId}}
							<td style="border: 1px solid lightgrey">{{$m.TipoNotaNota}}</td> 
					{{end}}
				{{end}}
			</tr>
			<tr>
				<td style="border:1px solid lightgrey; vertical-align:middle" colspan="2">NOTA EFPC</td>
				<td colspan="{{$cicloColSpan}}" style="font-size:2em;border: 1px solid lightgrey">{{$notaCiclo}}</td>
			</tr>
        </table>
		</form>
    </div>
</div>
{{end}}