{{define "Matriz"}}
<!-- Matriz -->
<div id="main" class="w3-row-padding">
		<header class="w3-container w3-center w3-teal">
		    <div class="aria">
				<div style="margin-top: 6px;text-align: left;z-index:1">
		    		<a style="font-size:28px;cursor:pointer" onclick="navGadget()">
						&#9776; {{.AppName}}
		    		</a>
				</div>
				    <h3>{{.Title}}</h3>
				<div style="margin-top: 10px;">
                    <span style="position:absolute; top:34px; right:120px">{{.LoggedUser.User.Name}} ( {{.LoggedUser.User.RoleName}} )</span>
					{{$allowed := (call .LoggedUser.HasPermission "viewMatriz")}}
				    <a style="margin-top: 6px" href="/logout">
						<span class="icon ion-log-out w3-xxlarge hoverbtn"></span>
					</a>
				</div>
		    </div>
		</header>
		<form action="/updateMatriz" method="POST">
        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable">
			{{$primeiraLinha := true}}
			{{$auxEntidade := ""}}
			{{$notaCiclo := ""}}
			{{$auxPilar := ""}}
			{{$auxComponente := ""}}
			{{$auxTipoNota := ""}}
			{{$componenteColSpan := ""}}
			{{$pilarColSpan := ""}}
			{{$cicloColSpan := ""}}
			{{$elementoNota := ""}}
			{{$elementoPeso := ""}}
			{{$currentUser := .LoggedUser.User.Id}}
            <tr>
				<td style="vertical-align:middle; border: 1px solid lightgrey" rowspan="4">EFPC</td>
				{{range $index, $m := .ElementosDaMatriz}}
					{{if $primeiraLinha}}
						{{$primeiraLinha = false}}
						{{$notaCiclo = $m.CicloNota}}
						{{$cicloColSpan = $m.CicloColSpan}}
						<td style="font-size:2em;border: 1px solid lightgrey" colspan="{{$m.CicloColSpan}}">{{$m.CicloNome}}</td>
					{{end}}
				{{end}}
            </tr>
            <tr>
				{{range $index, $m := .ElementosDaMatriz}}
					{{if $primeiraLinha}}
						{{$primeiraLinha = false}}
						{{$notaCiclo = $m.CicloNota}}
						{{$cicloColSpan = $m.CicloColSpan}}
					{{end}}
					{{if ne $auxPilar $m.PilarNome}}
						{{$auxPilar = $m.PilarNome}}
						<td style="font-size:1.4em;border: 1px solid lightgrey" colspan="{{$m.PilarColSpan}}">{{$m.PilarNome}}</td>
					{{end}}
				{{end}}
            </tr>
			{{$auxPilar = ""}}
			<tr>
				{{range $index, $m := .ElementosDaMatriz}}
					{{if ne $auxComponente $m.ComponenteNome}}
						{{$auxComponente = $m.ComponenteNome}}
						<td style="font-size:1.1em;border: 1px solid lightgrey" colspan="{{$m.ComponenteColSpan}}">{{$m.ComponenteNome}}</td>
					{{end}}
				{{end}}
			</tr>
			<tr>
				{{range $index, $m := .ElementosDaMatriz}}
					{{if ne $auxComponente $m.ComponenteNome}}
						{{$auxComponente = $m.ComponenteNome}}
							<td style="border: 1px solid lightgrey" colspan="{{$m.ComponenteColSpan}}">{{$m.ComponenteNota}}</td> 
					{{end}}
				{{end}}
			</tr>
			<tr>
				{{range $index, $m := .ElementosDaMatriz}}
					{{if ne $auxEntidade $m.EntidadeNome}}
						{{$auxEntidade = $m.EntidadeNome}}
							<td style="font-size:1.5em" rowspan="2">{{$m.EntidadeNome}}</td>
					{{end}}
					{{ $bgColor := (printf "%v%v" "#" $m.TipoNotaCorLetra ) }}
					{{if ne $auxTipoNota $m.TipoNotaLetra}}
						{{$auxTipoNota = $m.TipoNotaLetra}}
							<td style="background-color:{{print $bgColor}};border: 1px solid lightgrey">{{$m.TipoNotaLetra}}</td> 
					{{end}}
				{{end}}
			</tr>
			<tr>
				{{range $index, $m := .ElementosDaMatriz}}
					{{if ne $auxTipoNota $m.TipoNotaLetra}}
						{{$auxTipoNota = $m.TipoNotaLetra}}
							<td style="border: 1px solid lightgrey">{{$m.TipoNotaNota}}</td> 
					{{end}}
				{{end}}
			</tr>
			<tr>
				<td style="border:1px solid lightgrey">NOTA EFPC</td>
				<td  colspan="{{$cicloColSpan}}" style="font-size:2em;border: 1px solid lightgrey">{{$notaCiclo}}</td>
			</tr>
        </table>
		</form>
    </div>
</div>
{{end}}