{{define "List-Meals"}}
<!-- List Masters -->
<div id="main" class="w3-row-padding">
    <div class="w3-card-2">
		{{template "Table-Header" .Title }}
        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable">
            <thead>
            <tr>
                <th>Ord</th>
                <th>Id</th>
                <th>Tipo de Refeição</th>
                <th>Data</th>
                <th>Início</th>
                <th>Fim</th>
                <th>CHO</th>
                <th>Kcal</th>
                <th>Bolus</th>
				<th>Ações</th>
            </tr>
            </thead>
            <tbody>
			{{$auxData := ( index .Meals 0 ).CDate }}
            {{range $index, $meal := .Meals }}
				{{if or (eq $index 0) (ne $auxData $meal.CDate)}}
	            <tr>
	                <td colspan="10" bgcolor="lightgreen" style="font-size:1.2em;text-align:left">{{$meal.CDate}}</td>
            	</tr>
				{{$auxData = $meal.CDate }}
				{{end}}
	            <tr>
					<td>{{$meal.Order}}</td>
	                <td>{{$meal.Id}}<input type="hidden" value="{{$meal.MealTypeId}}"></td>
					<td>{{$meal.MealTypeName}}</td>
	                <td>{{$meal.CDate}}</td>
	                <td>{{$meal.CStartAt}}</td>
	                <td>{{$meal.CEndAt}}</td>
	                <td>{{$meal.CCho}}</td>
	                <td>{{$meal.CKcal}}</td>
	                <td>{{$meal.Bolus}}</td>
	                <td>
	                    <button class="w3-btn w3-teal" onclick="contexto='edit';updatemeal(this);">Editar</button>
	                    <button class="w3-btn w3-red" onclick="deletemeal(this)">Apagar</button>
	                </td>
	            </tr>
			{{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}