{{define "Edit-User"}}
<!-- Edit User -->
<div class="w3-container">
    <div id="edit-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="width: 1000px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Editar usuário</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('edit-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" action="/updateUser" method="post">
                <input type="hidden" name="Id" id="userIdToUpdate">
				<label class="w3-label">Nome</label>
                <input class="w3-input" type="text" name="Name" id="userName" value="">
                <label class="w3-label">Usuário</label>
                <input class="w3-input" type="text" name="Username" id="userUsername" value="">
                <label class="w3-label">E-mail</label>
                <input class="w3-input" type="text" name="Email" id="userEmail" value="">
                <label class="w3-label">Celular</label>
                <input class="w3-input" type="text" name="Mobile" id="userMobile" value="">
				<label class="w3-label">Escritório</label>
	            <select class="w3-input" name="EscritorioForUpdate" id="EscritorioForUpdate">
					<option value=""></option>
					{{range $index, $escritorio := .Escritorios }}
		                <option value="{{$escritorio.Id}}" {{if eq true $escritorio.Selected}} selected="selected"{{end}}>
							{{$escritorio.Nome}}
						</option>
		            {{end}}
	            </select>
				<label class="w3-label">Perfil</label>
	            <select class="w3-input" name="RoleForUpdate" id="RoleForUpdate">
					<option value=""></option>
					{{range $index, $role := .Roles }}
	                <option value="{{$role.Id}}">
						{{$role.Name}}
					</option>
		            {{end}}
	            </select>
				<br>
                <button class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" type="submit">Salvar</button>
            </form>
        </div>
    </div>
</div>
{{end}}