{{define "List-Foods"}}
<!-- List Foods -->
<div id="main" class="w3-row-padding">
		{{ template "Table-Header" .Title }}
        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable">
            <thead>
            <tr>
                <th>Ord</th>
                <th>Id</th>
                <th>Nome</th>
                <th>Medida Usual</th>
                <th>g ou ml</th>
                <th>CHO(g)</th>
                <th>Kcal</th>
				<th>Ações</th>
            </tr>
            </thead>
            <tbody>
            {{range $index, $food := .Foods}}
            <tr>
                <td>#{{$food.Order}}</td>
                <td>{{$food.Id}}</td>
                <td>{{$food.Name}}</td>
                <td>{{$food.Measure}}</td>
                <td>{{$food.Qtd}}</td>
                <td>{{$food.Cho}}</td>
                <td>{{$food.Kcal}}</td>
                <td>
                    <button class="w3-btn w3-teal" onclick="updatefood(this);">Editar</button>
                    <button class="w3-btn w3-red" onclick="deletefood(this)">Apagar</button>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}