{{define "List-Clients"}}
<!-- List Meal Types -->
<div id="main" class="w3-row-padding">
	<div class="w3-card-2">
		{{ template "Table-Header" .Title }}
        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable">
            <thead>
            <tr>
                <th>Ord</th>
                <th>Id</th>
                <th>Nome</th>
                <th>Username</th>
                <th>E-mail</th>
                <th>Celular</th>
				<th>Ações</th>
            </tr>
            </thead>
            <tbody>
            {{range $index, $client := .Clients }}
            <tr>
                <td>#{{$client.Order}}</td>
                <td>{{$client.Id}}</td>
                <td>{{$client.Name}}</td>
                <td>{{$client.Username}}</td>
                <td>{{$client.Email}}</td>
                <td>{{$client.Mobile}}</td>
                <td>
                    <button class="w3-btn w3-teal" onclick="updateClient(this);">Editar</button>
                    <button class="w3-btn w3-red" onclick="deleteClient(this)">Apagar</button>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}