{{define "Edit-Elemento-Componente"}}
<!-- Edit Edit Elemento Componente -->
<div class="w3-container">
    <div id="edit-elemento-componente-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="top:50px ;width: 1000px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Editar vínculo com o elemento</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('edit-elemento-componente-form').style.display='none'">&times;</span>
            </div>
            <form class="w3-container" id="formulario-elemento-componente-edit">
				<input type="hidden" id="Id-ECForUpdate" value="" readonly="readonly" disabled="disabled">
				<input type="hidden" id="Order-ECForUpdate" value="" readonly="readonly" disabled="disabled">
				<input type="hidden" id="ComponenteId-ECForUpdate" value="" readonly="readonly" disabled="disabled">
				<label class="w3-label">Elementos</label>
				<br>
	            <select class="w3-input" name="ElementoComponenteForUpdate" id="ElementoComponenteForUpdate">
					<option value=""></option>
					{{range $index, $elemento := .Elementos }}
		                <option value="{{$elemento.Id}}">
							{{$elemento.Nome}}
						</option>
		            {{end}}
	            </select>
                <label class="w3-label">Tipo de Nota</label>
	            <select class="w3-input" name="TipoNotaForUpdate" id="TipoNotaForUpdate">
					<option value=""></option>
					{{range $index, $tipoNota := .TiposNota }}
		                <option value="{{$tipoNota.Id}}">
							{{$tipoNota.Nome}}
						</option>
		            {{end}}
	            </select>
                <label class="w3-label">Peso Padrão</label>
				<select class="w3-input" readOnly  id="PesoPadraoForUpdate" name="PesoPadraoForUpdate" >
					<option value="0">N/A</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="4">4</option>
					<option value="8">8</option>
	            </select>	
				<br>	
                <button 
					class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" 
					type="button"
					onclick="updateElementoComponente();"
					>Salvar
				</button>
            </form>
        </div>
    </div>
</div>
{{end}}