{{ define "Main-Componentes" }}
<html lang="pt">
	{{ template "Header" .Title }}
<body>
{{ template "Menu" . }}
{{ template "Delete-Componente" . }}
{{ template "Edit-Componente" . }}
{{ template "Create-Componente" . }}
{{ template "Delete-Elemento-Componente" . }}
{{ template "Edit-Elemento-Componente" . }}
{{ template "Create-Elemento-Componente" . }}
{{ template "Error-Message" .ErrMsg }}
{{ template "Message" .Msg }}
{{ template "List-Componentes" . }}
</body>
</html>
{{end}}
