{{define "Edit-Membro-Escritorio"}}
<!-- Edit Escritorio -->
<div class="w3-container">
    <div id="edit-equipe-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="width:70%">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Editar equipe do escritório</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('edit-equipe-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" action="/updateMembrosEscritorio" method="POST" id="formulario-membro-escritorio-edit">
                <input type="hidden" name="Id" id="EscritorioIdESForUpdate">
                <label class="w3-label">Nome</label>
                <input class="w3-input" type="text" id="EscritorioNomeESForUpdate" name="Nome" value="">
				<label class="w3-label">Abreviatura</label>	
				<input class="w3-input" type="text" id="EscritorioAbreviaturaESForUpdate" name="Abreviatura" value="" maxlength="4">
                <label class="w3-label">Descrição</label>
                <textarea class="w3-input" id="EscritorioDescricaoESForUpdate" name="Descricao" rows="5" value=""></textarea>
				<label class="w3-label">Chefe do Escritório</label>
				<br>
	            <select class="w3-input" name="Chefe" id="EscritorioChefeESForUpdate">
		            <option value=""></option>
					{{range $index, $user := .Users }}
						{{if eq $user.Role 2}}
		                <option value="{{$user.Id}}">
							{{$user.Name}}
						</option>
						{{end}}
		            {{end}}
	            </select>
				<header class="w3-container w3-center w3-teal">
		            <div class="aria">
						<div style="margin-top: 6px;text-align: left;z-index:1">
				    		<a style="font-size:28px">
								&nbsp;
				    		</a>
		                </div>
	                	<h4>Membro</h4>
		                <div style="margin-top: 8px">
		                    <div class="w3-right" id="edit-form-equipe-btn" >
		                        <a href="#" onclick="document.getElementById('create-membro-form').style.display='block'">
		                            <i class="icon ion-ios-plus-outline w3-xxlarge hoverbtn"></i>
		                        </a>
		                    </div>
		                </div>
		            </div>
		        </header>
		        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable" 
					id="table-membros-edit">
		            <tr>
		                <td style="width:40%">
							<input 
								type="text" 
								value="" 
								placeholder="Nome" 
								style="width:100%"
								onkeyup="filtraTabela(this, 'table-membros-edit', 1, 0)">
						</td>
		                <td style="width:10%">
							<input 
								type="text" 
								value="" 
								placeholder="Perfil" 
								style="width:100%"
								onkeyup="filtraTabela(this, 'table-membros-edit', 1, 1)">
						</td>
		                <td style="width:10%">Inicia Em</td>
		                <td style="width:10%">Termina Em</td>
						<td style="width:30%">Ações</td>
		            </tr>
		        </table>
				<button class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" type="submit">Salvar</button>
            </form>
        </div>
    </div>
</div>
{{end}}