{{ define "Main-Escritorios" }}
<html lang="pt">
	{{ template "Header" .Title }}
<body>
{{ template "Error-Message" .ErrMsg }}
{{ template "Menu" . }}
{{ template "Delete-Escritorio" . }}
{{ template "Edit-Escritorio" . }}
{{ template "Edit-Jurisdicao-Escritorio" . }}
{{ template "Edit-Membro-Escritorio" . }}
{{ template "Create-Escritorio" . }}
{{ template "Delete-Jurisdicao" . }}
{{ template "Edit-Jurisdicao" . }}
{{ template "Create-Jurisdicao" . }}
{{ template "Delete-Membro" . }}
{{ template "Edit-Membro" . }}
{{ template "Create-Membro" . }}
{{ template "List-Escritorios" . }}
</body>
</html>
{{end}}
