{{define "List-Distribuir-Papeis"}}
<!-- List Distribuir Papeis -->
<div id="main" class="w3-row-padding">
		<header class="w3-container w3-center w3-teal">
		    <div class="aria">
				<div style="margin-top: 6px;text-align: left;z-index:1">
		    		<a style="font-size:28px;cursor:pointer" onclick="navGadget()">
						&#9776; {{.AppName}}
		    		</a>
				</div>
				    <h3>{{.Title}}</h3>
				<div style="margin-top: 10px;">
                    <span style="position:absolute; top:34px; right:120px">{{.LoggedUser.User.Name}}</span>
				    <a style="margin-top: 6px" href="/logout">
						<span class="icon ion-log-out w3-xxlarge hoverbtn"></span>
					</a>
				</div>
		    </div>
		</header>
		<form action="/updateDistribuirPapeis" method="POST" id="formulario-produtos-componentes">
        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable" 
				style="border: 1px solid red">
            <thead>
            <tr>
                <th>Ord</th>
                <th style="text-align:left">Sumário</th>
                <th>Supervisor</th>
                <th>Auditor</th>
            </tr>
            </thead>
            <tbody>
			{{$primeiraLinha := true}}
			{{$auxSumario := ""}}
            {{range $index, $produto := .Produtos}}
				{{if $primeiraLinha}}
		            <tr>
		                <td>&nbsp;</td>
		                <td style="text-align:left;padding-left: 5px">{{$produto.EntidadeNome}}</td>
		                <td>&nbsp;</td>
		                <td>&nbsp;</td>
		            </tr>
		            <tr>
		                <td>&nbsp;</td>
		                <td style="text-align:left;padding-left: 10px">&nbsp;&nbsp;{{$produto.CicloNome}}</td>
		                <td>&nbsp;</td>
		                <td>&nbsp;</td>
		            </tr>
					{{$primeiraLinha = false}}
				{{end}}
				{{if ne $auxSumario $produto.PilarNome}}
	            <tr>
	                <td>&nbsp;</td>
	                <td style="text-align:left;padding-left: 20px">&nbsp;&nbsp;&nbsp;{{$produto.PilarNome}}</td>
					{{$auxSumario = $produto.PilarNome}}
	                <td>&nbsp;</td>
	                <td>&nbsp;</td>
	            </tr>
				{{end}}
	            <tr>
	                <td>{{$produto.Order}}</td>
	                <td style="text-align:left;padding-left: 30px">&nbsp;&nbsp;&nbsp;&nbsp;{{$produto.ComponenteNome}}</td>
	                <td>
						<select class="w3-input" onchange="sinalizarAlteracao(this);" name="SupervisorComponente{{$produto.ComponenteId}}">
							<option value=""></option>
							{{range $i, $supervisor := $.Supervisores }}
				                <option value="{{$supervisor.Id}}" {{if eq $produto.SupervisorId $supervisor.Id}}selected{{end}}>
									{{$supervisor.Name}}
								</option>
				            {{end}}
			            </select>
					</td>
	                <td>
						<select class="w3-input" onchange="sinalizarAlteracao(this);" name="AuditorComponente{{$produto.ComponenteId}}">
							<option value=""></option>
							{{range $i, $auditor := $.Auditores }}
				                <option value="{{$auditor.Id}}" {{if eq $produto.AuditorId $auditor.Id}}selected{{end}}>
									{{$auditor.Name}}
								</option>
				            {{end}}
			            </select>
					</td>
	            </tr>
            {{end}}
			<tr>
				<td colspan="2" style="text-align: center"></td>
				<td colspan="2" style="text-align: center">
					<button class="w3-btn w3-teal w3-margin-top w3-margin-bottom" type="submit">Salvar</button>
				</td>
			</tr>
            </tbody>
        </table>
		</form>
    </div>
</div>
{{end}}
