{{define "Create-Item"}}
<!-- Create Detail Form -->
<div class="w3-container">
    <div id="create-item-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="top:50px ;max-width: 600px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Criar novo item do pedido</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('create-item-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container">
                <label class="w3-label">Cerveja</label>
				<br>	
				<script>
					var ar = [];
					var i = 0;
				</script>					
	            <select onchange="preencheCamposItem(this, 'create');" id="beer-create">
					<option value=""></option>
					{{range $index, $beer := .Beers }}
	                <option value="{{$beer.Id}}">
						{{$beer.Name}}
					</option>
					<script>
						ar[i] = "{{$beer.Id}}#{{$beer.Qtd}}#{{$beer.Price}}";
						i++;
					</script>
	            	{{end}}
	            </select>
				<br>
				<br>
                <label class="w3-label">Quantidade</label>
                <input class="w3-input" type="number" id="qtd-create" value="" onblur="if(validaQtd(this, 'create')){calcularValorItem(this, 'create')}">
                <label class="w3-label">Estoque</label>
                <input class="w3-input" type="number" id="stock-create" value="" readonly="readonly" disabled="disabled">
				<label class="w3-label">Preço Unitário</label>
                <input class="w3-input" id="price-create" type="number" name="price-create" value="" readonly="readonly" disabled="disabled">
				<label class="w3-label">Valor do Item</label>
                <input class="w3-input" id="value-create" type="number" name="value-create" value="" readonly="readonly" disabled="disabled">
                <button 
					class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" 
					type="button"
					onclick="criarItem()"
					>Criar
				</button>
            </form>
        </div>
    </div>
</div>
{{end}}