{{ define "Create-Order" }}
<!-- Create Order Form -->
<div class="w3-container">
    <div id="create-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 800px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Criar novo pedido</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('create-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" action="/createOrder" method="post">
                <label class="w3-label">Usuário</label>
				<br>	
	            <select name="UserForInsert" id="UserForInsert">
					<option value=""></option>
					{{range $index, $user := .Users }}
		                <option value="{{$user.Id}}" {{if eq true $user.Selected}} selected="selected"{{end}}>
							{{$user.Name}}
						</option>
		            {{end}}
	            </select>
				<br>
				<br>
                <label class="w3-label">Dia Pedido</label>
                <input class="w3-input" type="date" id="OrderDateForInsert" name="OrderDateForInsert" value="">
                <label class="w3-label">Horário Pedido</label>
                <input class="w3-input" type="time" id="OrderedAtForInsert" name="OrderedAtForInsert" value="">
                <label class="w3-label">Dia Retirada</label>
                <input class="w3-input" type="date" id="TakeOutDateForInsert" name="TakeOutDateForInsert" value="">
                <label class="w3-label">Horário Retirada</label>
                <input class="w3-input" type="time" id="TakeOutAtForInsert" name="TakeOutAtForInsert" value="">
		        <header class="w3-container w3-center w3-teal">
		            <div class="w3-row">
		                <div class="w3-half">
		                    <h4 class="w3-right">Itens</h4>
		                </div>
		                <div class="w3-half w3-text-right" style="position:relative;z-index:2">
		                    <div class="w3-right">
		                        <a href="#" onclick="contexto='insert';document.getElementById('create-item-form').style.display='block'">
		                            <i class="icon ion-ios-plus-outline w3-xxlarge hoverbtn"></i>
		                        </a>
		                    </div>
		                </div>
		            </div>
		        </header>
		        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable" id="table-items-insert">
		            <thead>
		            <tr>
		                <th>Cerveja</th>
		                <th>Quantidade</th>
		                <th>Preço Unitário</th>
		                <th>Valor</th>
						<th>Ações</th>
		            </tr>
		            </thead>
		            <tbody>
		            </tbody>
		        </table>
                <button class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" type="submit">Criar</button>
            </form>
        </div>
    </div>
</div>
{{ end }}