{{define "List-Meal-Types"}}
<!-- List Meal Types -->
<div id="main" class="w3-row-padding">
	<div class="w3-card-2">
		{{ template "Table-Header" .Title }}
        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable">
            <thead>
            <tr>
                <th>Ord</th>
                <th>Id</th>
                <th>Nome</th>
                <th>Horário Inicial</th>
                <th>Horário Final</th>
				<th>Ações</th>
            </tr>
            </thead>
            <tbody>
            {{range $index, $mealType := .MealTypes }}
            <tr>
                <td>#{{$mealType.Order}}</td>
                <td>{{$mealType.Id}}</td>
                <td>{{$mealType.Name}}</td>
                <td>{{$mealType.CStartAt}}</td>
                <td>{{$mealType.CEndAt}}</td>
                <td>
                    <button class="w3-btn w3-teal" onclick="updateMealType(this);">Editar</button>
                    <button class="w3-btn w3-red" onclick="deleteMealType(this)">Apagar</button>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}