{{define "Iniciar-Ciclo"}}
<!-- Edit Ciclo -->
<div class="w3-container">
    <div id="edit-iniciar-ciclo-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="width: 1200px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Iniciar ciclo</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('edit-iniciar-ciclo-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" id="formulario-iniciar" action="/iniciarCiclo" method="POST">
                <input type="hidden" name="Id" id="CicloIdIniciarForUpdate" value="">
                <label class="w3-label">Nome</label>
                <input class="w3-input" type="text" name="Nome" id="NomeCicloIniciarForUpdate" value="">
                <label class="w3-label">Descrição</label>
                <textarea class="w3-input" name="Descricao" id="DescricaoIniciarCicloForUpdate" rows="5" value=""></textarea>
				<label class="w3-label">Autor</label>
                <input class="w3-input" type="text" name="AuthorNameForUpdate" id="AuthorNameIniciarForUpdate" readonly="readonly" disabled="disabled" value="">
				<label class="w3-label">Criado Em</label>
                <input class="w3-input" type="text" name="CriadoEmForUpdate" id="CriadoEmIniciarForUpdate" readonly="readonly" disabled="disabled" value="">
				<table width="100%">
					<tr>
						<td>
			                <label class="w3-label">Inicia Em</label>
							<input class="w3-input" type="date" id="IniciaEmForInsert" name="IniciaEm" value="">
						</td>
						<td>
			                <label class="w3-label">Termina Em</label>
							<input class="w3-input" type="date" id="TerminaEmForInsert" name="TerminaEm" value="">
						</td>
					</tr>
				</table>
		        <header class="w3-container w3-center w3-teal">
		            <div class="w3-row">
		                <div class="w3-half" style="text-align: center;z-index:0">
		                    <h4 class="w3-right">Entidades</h4>
		                </div>
		            </div>
		        </header>
		        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable" 
					id="table-iniciar-ciclo-edit">
		            <tr>
		                <td style="width:5%">&nbsp;</td>
		                <td style="width:10%">
						<input 
							type="text" 
							value="" 
							placeholder="Código" 
							style="width:100%"
							onkeyup="filtraTabela(this, 'table-iniciar-ciclo-edit', 1, 1)">
						</td>
		                <td style="width:20%">
						<input 
							type="text" 
							value="" 
							placeholder="Sigla" 
							style="width:100%"
							onkeyup="filtraTabela(this, 'table-iniciar-ciclo-edit', 1, 2)">
						</td>
		                <td style="text-align:left;width:65%">
						<input 
							type="text" 
							value="" 
							placeholder="Nome da Entidade" 
							style="width:100%"
							onkeyup="filtraTabela(this, 'table-iniciar-ciclo-edit', 1, 3)">
						</td>
		            </tr>
					{{range $index, $entidade := .Entidades}}
		            <tr>
		                <td style="vertical-align:middle; bottom: 6px"><input class="w3-check" name="Entidades" type="checkbox" value="{{$entidade.Id}}"/></td>
		                <td>{{$entidade.Codigo}}</td>
		                <td>{{$entidade.Sigla}}</td>
		                <td style="text-align:left">
							{{$entidade.Nome}}
						</td>
		            </tr>
		            {{end}}
		        </table>
				<button class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" 
					type="button" onclick="salvarIniciarCiclo()">Salvar</button>
            </form>
        </div>
    </div>
</div>
{{end}}