{{define "Edit-Componente-Pilar"}}
<!-- Edit Edit Form -->
<div class="w3-container">
    <div id="edit-componente-pilar-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="top:50px ;width: 1000px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Editar componente do pilar</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('edit-componente-pilar-form').style.display='none'">&times;</span>
            </div>
            <form class="w3-container" id="formulario-componente-pilar-edit">
				<input type="hidden" id="id-edit" value="" readonly="readonly" disabled="disabled">
				<input type="hidden" id="order-edit" value="" readonly="readonly" disabled="disabled">
				<input type="hidden" id="pilarId-edit" value="" readonly="readonly" disabled="disabled">
				<label class="w3-label">Componente</label>
				<br>
	            <select class="w3-input" name="ComponentePilarForUpdate" id="ComponentePilarForUpdate">
	                <option value=""></option>
					{{range $index, $componente := .Componentes }}
		                <option value="{{$componente.Id}}">
							{{$componente.Nome}}
						</option>
		            {{end}}
	            </select>
				<br>
                <label class="w3-label">Peso Padrão</label>
				<input class="w3-input" type="number"  
					readOnly disabled id="PesoPadraoForUpdate" name="PesoPadraoForUpdate" value="">
				<label class="w3-label">Tipo de Média</label>
	            <select class="w3-input" name="TipoMediaForUpdate" id="TipoMediaForUpdate">
	                <option value="1">Aritmética</option>
	                <option value="2">Geométrica</option>
	                <option value="3">Harmônica</option>
	            </select>
                <label class="w3-label">Arquivo de Sonda</label>
				<input class="w3-input" type="text" id="SondaForUpdate" name="SondaForUpdate" value="">				
                <button 
					class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" 
					type="button"
					onclick="updateComponentePilar();"
					>Salvar
				</button>
            </form>
        </div>
    </div>
</div>
{{end}}