/* ARIA.CSS */
.hoverbtn:hover {
    font-weight: bold;
    opacity: 0.4;
}

a {
    text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.tabela {
	vertical-align:middle; 
	border:1px solid #ddd;
	text-align:left
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#80C6F0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(255, 255, 255);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0070ff;
}

.menu a {
  color:#fff;
  padding-left: 15px;
  background-color:#80C6F0;
}

.menu a:hover {
  color:#fff;
  background-color: #0070ff;
}

.submenu a {
  color:#fff;
  padding-left: 15px;
  background-color:#80C6F0;
}

.submenu a:hover {
  color:#fff;
  background-color: #0070ff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .logo {
  position: relative;
  top: 25px;
  left: 20px;
  width:200px;
  margin-top:10px;
  margin-right: 10px;
  font-size: 36px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.aria{
	display: flex;
    justify-content: space-between;
}
