{{define "Edit-Jurisdicao"}}
<!-- Edit Jurisdicao -->
<div class="w3-container">
    <div id="edit-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Editar elemento</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('edit-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" action="/updateJurisdicao" method="POST">
				<label class="w3-label">Escritório Responsável</label>
				<br>
	            <select class="w3-input" name="EscritorioForUpdate" id="EscritorioForUpdate" style="width:100%">
					{{range $index, $escritorio := .Escritorios }}
		                <option value="{{$escritorio.Id}}">
							{{$escritorio.Nome}}
						</option>
		            {{end}}
	            </select>
				<br>
				<label class="w3-label">Escritório Original</label>
				<br>
	            <select class="w3-input" name="EscritorioOrigemForUpdate" id="EscritorioOrigemForUpdate" style="width:100%">
					{{range $index, $escritorio := .Escritorios }}
		                <option value="{{$escritorio.Id}}">
							{{$escritorio.Nome}}
						</option>
		            {{end}}
	            </select>
				<label class="w3-label">Entidades</label>
				<br>
	            <select class="w3-input" name="EntidadeForUpdate" id="EntidadeForUpdate" style="width:100%">
					{{range $index, $entidade := .Entidades }}
		                <option value="{{$entidade.Id}}">
							{{$entidade.Nome}}
						</option>
		            {{end}}
	            </select>
                <label class="w3-label">Inicio Em</label>
				<input class="w3-input" type="date" id="IniciaEmForUpdate" name="IniciaEmForUpdate" value="">
                <label class="w3-label">Termina Em</label>
				<input class="w3-input" type="date" id="TerminaEmForUpdate" name="TerminaEmForUpdate" value="">
				<button class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" type="submit">Salvar</button>
            </form>
        </div>
    </div>
</div>
{{end}}