{{define "List-Elementos"}}
<!-- List Elementos -->
<div id="main" class="w3-row-padding">
		<header class="w3-container w3-center w3-teal">
		    <div class="aria">
				<div style="margin-top: 6px;text-align: left;z-index:1">
		    		<a style="font-size:28px;cursor:pointer" onclick="navGadget()">
						&#9776; {{.AppName}}
		    		</a>
				</div>
				<div style="text-align: center;margin: auto;position:absolute;width:100%;z-index:0">
				    <h3>{{.Title}}</h3>
				</div>
				<div style="margin-top: 10px;text-align: right;z-index:1">
					{{$allowed := (call .LoggedUser.HasPermission "createElemento")}}
					{{.LoggedUser.User.Name}}
					{{if $allowed}}
					    <a href="#" onclick="limparCamposItemForm('create');document.getElementById('create-form').style.display='block'">
							<i class="icon ion-ios-plus-outline w3-xxlarge hoverbtn"></i>
					    </a>
					{{end}}
				    <a href="/logout">
						<i class="icon ion-log-out w3-xxlarge hoverbtn"></i>
				    </a>
				</div>
		    </div>
		</header>
        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable">
            <thead>
            <tr>
                <th>Ord</th>
                <th>Id</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Autor</th>
                <th>Data de Criação</th>
                <th>Status</th>
				{{if $allowed}}
				<th>Ações</th>
				{{end}}
            </tr>
            </thead>
            <tbody>
            {{range $index, $elemento := .Elementos}}
            <tr>
                <td>#{{$elemento.Order}}</td>
                <td>{{$elemento.Id}}</td>
                <td>{{$elemento.Titulo}}</td>
                <td>{{$elemento.Descricao}}</td>
                <td>{{$elemento.AuthorName}}</td>
                <td>{{$elemento.CDataCriacao}}</td>
                <td>{{$elemento.CStatus}}</td>
				{{if $allowed}}
                <td>
                    <button class="w3-btn w3-teal" onclick="updateElemento(this);">Editar</button>
                    <button class="w3-btn w3-red" onclick="deleteElemento(this)">Apagar</button>
                </td>
				{{end}}
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}