{{define "Create-Action"}}
<!-- Create Action -->
<div class="w3-container">
    <div id="create-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Criar nova ação</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('create-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" action="/createAction" method="post">
                <label class="w3-label">Nome</label>
                <input class="w3-input" type="text" name="Name" value="">
				<br>	
				<label class="w3-label">Status Origem</label>
				<br>
				<label class="w3-label">Exceto</label>&nbsp;<input type="checkbox" name="Except" value="Except">
				<br>	
	            <select class="w3-input" name="OriginStatusForInsert" id="OriginStatusForInsert" style="width:100%">
		            <option value=""></option>
					{{range $index, $status := .Statuss }}
		                <option value="{{$status.Id}}">
							{{$status.Name}}{{if ne $status.Stereotype ""}} (estereótipo: {{$status.Stereotype}}){{end}}
						</option>
		            {{end}}
	            </select>
				<br>
				<label class="w3-label">Status Destino</label>
				<br>	
	            <select class="w3-input" name="DestinationStatusForInsert" id="DestinationStatusForInsert" style="width:100%">
					<option value=""></option>
					{{range $index, $status := .Statuss }}
		                <option value="{{$status.Id}}">
							{{$status.Name}}{{if ne $status.Stereotype ""}} (estereótipo: {{$status.Stereotype}}){{end}}
						</option>
		            {{end}}
	            </select>
				<br>
                <button class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" type="submit">Criar</button>
            </form>
        </div>
    </div>
</div>
{{end}}