{{define "List-Actions"}}
<!-- List Actions -->
<div id="main" class="w3-row-padding">
		<header class="w3-container w3-center w3-teal">
		    <div class="aria">
				<div style="margin-top: 6px;text-align: left;z-index:1">
		    		<a style="font-size:28px;cursor:pointer" onclick="navGadget()">
						&#9776; {{.AppName}}
		    		</a>
				</div>
				    <h3>{{.Title}}</h3>
				<div style="margin-top: 10px;">
                    <span style="position:absolute; top:34px; right:120px">{{.LoggedUser.User.Name}}</span>
					{{$allowed := (call .LoggedUser.HasPermission "createAction")}}
					{{if $allowed}}
					    <a style="margin-top: 6px" href="#" onclick="document.getElementById('create-form').style.display='block'">
							<span class="icon ion-ios-plus-outline w3-xxlarge hoverbtn"></span>
						</a>
					{{end}}
				    <a style="margin-top: 6px" href="/logout">
						<span class="icon ion-log-out w3-xxlarge hoverbtn"></span>
					</a>
				</div>
		    </div>
		</header>
        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable">
            <thead>
            <tr>
                <th>Ord</th>
                <th>Id</th>
                <th>Nome</th>
                <th>Exceto</th>
                <th>Status Origem</th>
                <th>Status Destino</th>
                <th>Autor</th>
                <th>Criado Em</th>
                <th>Status</th>
				{{if $allowed}}
				<th>Ações</th>
				{{end}}
            </tr>
            </thead>
            <tbody>
            {{range $index, $action := .Actions}}
            <tr>
                <td>#{{$action.Order}}</td>
                <td>{{$action.Id}}</td>
                <td><input type="hidden" value="{{$action.Description}}">{{$action.Name}}</td>
                <td>{{$action.OtherThan}}</td>
                <td><input type="hidden" value="{{$action.OriginId}}">{{$action.Origin}}</td>
                <td><input type="hidden" value="{{$action.DestinationId}}">{{$action.Destination}}</td>
                <td>{{$action.AuthorName}}</td>
                <td>{{$action.C_CreatedAt}}</td>
                <td>{{$action.CStatus}}</td>
				{{if $allowed}}
                <td>
                    <button class="w3-btn w3-teal" onclick="editAction(this);">Editar</button>
                    <button class="w3-btn w3-red" onclick="deleteAction(this)">Apagar</button>
                </td>
				{{end}}
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}