<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/statics/aria/css/aria.css">
    <link rel="stylesheet" href="/statics/ionicons/css/w3.css">
    <link rel="stylesheet" href="/statics/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="/statics/ionicons/css/ionicons.min.css">
	<script src="/statics/aria/js/aria.js"></script>
	<script src="/statics/aria/js/meals.js"></script>
	<script src="/statics/aria/js/items.js"></script>
	<script src="/statics/aria/js/table.js"></script>
	<script src="/statics/aria/js/utils.js"></script>
	<script src="/statics/aria/js/date-utils.js"></script>
    <title>Refeições</title>
</head>
<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="navGadget()">&times;</a>
  <a href="#">Sobre</a>
  <a href="/listMeals">Refeições</a>
  <a href="/listMealTypes">Tipos de Refeições</a>
  <a href="/listAlimentos">Alimentos</a>
  <a href="/listMeasures">Medidas Usuais</a>
</div>
<div id="main" class="w3-row-padding">
    <div class="w3-card-2">		
        <header class="w3-container w3-center w3-teal">
            <div class="w3-row">
                <div class="w3-col w3-text-left" style="position:absolute;z-index:1">
                    <div class="w3-left">
                        <a style="font-size:28px;cursor:pointer" onclick="navGadget()">
                            &#9776; diÁria
                        </a>
                    </div>
                </div>
                <div class="w3-half">
                    <h3 class="w3-right">Refeições</h3>
                </div>
                <div class="w3-half w3-text-right" style="position:relative;z-index:2">
                    <div class="w3-right">
                        <a href="#" onclick="setTime();document.getElementById('create-form').style.display='block'">
                            <i class="icon ion-ios-plus-outline w3-xxlarge hoverbtn"></i>
                        </a>
                        <a href="/logout">
                            <i class="icon ion-log-out w3-xxlarge hoverbtn"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable">
            <thead>
            <tr>
                <th>Id</th>
                <th>Tipo de Refeição</th>
                <th>Data</th>
                <th>Início</th>
                <th>Fim</th>
                <th>CHO</th>
                <th>Kcal</th>
                <th>Bolus</th>
				<th>Ações</th>
            </tr>
            </thead>
            <tbody>
			{{$auxData := ( index .Meals 0 ).CDate }}
            {{range $index, $meal := .Meals}}
				{{if or (eq $index 0) (ne $auxData $meal.CDate)}}
	            <tr>
	                <td colspan="9" bgcolor="lightgreen" style="font-size:1.2em;text-align:left">{{$meal.CDate}}</td>
            	</tr>
				{{$auxData = $meal.CDate }}
				{{end}}
	            <tr>
	                <td>{{$meal.Id}}<input type="hidden" value="{{$meal.MealTypeId}}"></td>
					<td>{{$meal.MealTypeName}}</td>
	                <td>{{$meal.CDate}}</td>
	                <td>{{$meal.CStartAt}}</td>
	                <td>{{$meal.CEndAt}}</td>
	                <td>{{$meal.CCho}}</td>
	                <td>{{$meal.CKcal}}</td>
	                <td>{{$meal.Bolus}}</td>
	                <td>
	                    <button class="w3-btn w3-teal" onclick="contexto='edit';updatemeal(this);">Editar</button>
	                    <button class="w3-btn w3-red" onclick="deletemeal(this)">Apagar</button>
	                </td>
	            </tr>
			{{end}}
            </tbody>
        </table>
    </div>
</div>

<!-- Create Meals -->
<div class="w3-container">
    <div id="create-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 800px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Criar nova refeição</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('create-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" action="/createMeal" method="post">
                <label class="w3-label">Tipo de Refeição</label>
				<br>	
	            <select name="MealTypeForInsert" id="MealTypeForInsert">
					<option value=""></option>
					{{range $index, $mealType := .MealTypes }}
		                <option value="{{$mealType.Id}}" {{if eq true $mealType.Selected}} selected="selected"{{end}}>
							{{$mealType.Name}}
						</option>
		            {{end}}
	            </select>
				<br>
				<br>
                <label class="w3-label">Dia</label>
                <input class="w3-input" type="date" id="DateForInsert" name="DateForInsert" value="">
                <label class="w3-label">Horário Inicial</label>
                <input class="w3-input" type="time" id="StartAtForInsert" name="StartAtForInsert" value="">
                <label class="w3-label">Horário de Término</label>
                <input class="w3-input" type="time" id="EndAtForInsert" name="EndAtForInsert" value="">
				<label class="w3-label">Bolus</label>
                <input class="w3-input" type="number" id="BolusForInsert" name="BolusForInsert" value="">
		        <header class="w3-container w3-center w3-teal">
		            <div class="w3-row">
		                <div class="w3-half">
		                    <h4 class="w3-right">Itens</h4>
		                </div>
		                <div class="w3-half w3-text-right" style="position:relative;z-index:2">
		                    <div class="w3-right">
		                        <a href="#" onclick="contexto='insert';document.getElementById('create-item-form').style.display='block'">
		                            <i class="icon ion-ios-plus-outline w3-xxlarge hoverbtn"></i>
		                        </a>
		                    </div>
		                </div>
		            </div>
		        </header>
		        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable" id="table-items-insert">
		            <thead>
		            <tr>
		                <th>Alimento</th>
		                <th>Quantidade</th>
		                <th>CHO</th>
		                <th>Kcal</th>
						<th>Ações</th>
		            </tr>
		            </thead>
		            <tbody>
		            </tbody>
		        </table>
                <button class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" type="submit">Criar</button>
            </form>
        </div>
    </div>
</div>


<!-- Edit Modals -->
<div class="w3-container">
    <div id="edit-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 800px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Editar refeição</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('edit-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" action="/updateMeal" method="post">
                <label class="w3-label">Tipo de Refeição</label>
				<br>	
				<input type="hidden" name="Id" id="MealIdForUpdate">
	            <select name="MealTypeForUpdate" id="MealTypeForUpdate">
					<option value=""></option>
					{{range $index, $mealType := .MealTypes }}
		                <option value="{{$mealType.Id}}">
							{{$mealType.Name}}
						</option>
		            {{end}}
	            </select>
				<br>
				<br>
                <label class="w3-label">Data</label>
                <input class="w3-input" type="date" id="DateForUpdate" name="DateForUpdate" value="">
                <label class="w3-label">Horário Inicial</label>
                <input class="w3-input" type="time" id="StartAtForUpdate" name="StartAtForUpdate" value="">
                <label class="w3-label">Horário de Término</label>
                <input class="w3-input" type="time" id="EndAtForUpdate" name="EndAtForUpdate" value="">
				<label class="w3-label">Bolus</label>
                <input class="w3-input" type="number" id="BolusForUpdate" name="BolusForUpdate" value="">
		        <header class="w3-container w3-center w3-teal">
		            <div class="w3-row">
		                <div class="w3-half">
		                    <h4 class="w3-right">Itens</h4>
		                </div>
		                <div class="w3-half w3-text-right" style="position:relative;z-index:2">
		                    <div class="w3-right">
		                        <a href="#" onclick="contexto='edit';document.getElementById('create-item-form').style.display='block'">
		                            <i class="icon ion-ios-plus-outline w3-xxlarge hoverbtn"></i>
		                        </a>
		                    </div>
		                </div>
		            </div>
		        </header>
		        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable" id="table-items-edit">
		            <thead>
		            <tr>
		                <th>Alimento</th>
		                <th>Quantidade</th>
		                <th>CHO</th>
		                <th>Kcal</th>
						<th>Ações</th>
		            </tr>
		            </thead>
		            <tbody>
		            </tbody>
		        </table>
                <button class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" type="submit">Salvar</button>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modals -->
<div class="w3-container">
    <div id="delete-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Tem certeza?</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('delete-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" action="/deleteMeal" method="post">
                <input type="hidden" name="Id" id="MealIdToDelete">
                <div class="w3-center">
                    <button class="w3-btn w3-red w3-margin-top w3-margin-bottom" type="submit">Apagar</button>
                    <button type="button" class="w3-btn w3-teal w3-margin-top w3-margin-bottom"
                            onclick="document.getElementById('delete-form').style.display='none'">Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Item Form -->
<div class="w3-container">
    <div id="delete-item-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px; top:50px">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Tem certeza?</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('delete-item-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container">
                <div class="w3-center">
                    <button class="w3-btn w3-red w3-margin-top w3-margin-bottom" type="button" onclick="deleteitem()">Apagar</button>
                    <button type="button" class="w3-btn w3-teal w3-margin-top w3-margin-bottom"
                            onclick="document.getElementById('delete-item-form').style.display='none'">Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Create Item -->
<div class="w3-container">
    <div id="create-item-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="top:50px ;max-width: 600px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Criar novo item da refeição</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('create-item-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container">
                <label class="w3-label">Alimento</label>
				<br>	
				<script>
					var ar = [];
				</script>					
	            <select onchange="changeLabelMeasure(this); resetFields('create');" id="alimento-create">
					<option value=""></option>
					{{range $index, $food := .Foods }}
	                <option value="{{$food.Id}}">
						{{$food.Name}}
					</option>
					<script>
						var i = "{{addOne $index}}";
						ar[i] = "{{$food.Id}}#{{$food.Measure}}#{{$food.Qtd}}#{{$food.Cho}}#{{$food.Kcal}}";
					</script>
	            	{{end}}
	            </select>
				<br>
				<br>
                <label class="w3-label" id="labelMeasure">Quantidade de Medida Usual</label>
                <input class="w3-input" type="number" id="qtdMedida-create" value="" onblur="regraDeTresMedida(this,'create')">
                <label class="w3-label">Quantidade em g ou ml</label>
                <input class="w3-input" type="number" id="qtd-create" value="" onblur="regraDeTresQtd(this,'create')">
				<label class="w3-label">CHO</label>
                <input class="w3-input" id="cho-create" type="number" name="CHO" value="" readonly="readonly" disabled="disabled">
				<label class="w3-label">Kcal</label>
                <input class="w3-input" id="kcal-create" type="number" name="Kcal" value="" readonly="readonly" disabled="disabled">
                <button 
					class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" 
					type="button"
					onclick="criarItem()"
					>Criar
				</button>
            </form>
        </div>
    </div>
</div>

<!-- Edit Item -->
<div class="w3-container">
    <div id="edit-item-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="top:50px ;max-width: 600px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Editar item da refeição</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('edit-item-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container">
				<input type="hidden" id="id-edit" value="">
				<input type="hidden" id="meal-id-edit" value="">
                <label class="w3-label">Alimento</label>
				<br>	
				<script>
					var ar = [];
				</script>					
	            <select onchange="changeLabelMeasure(this); resetFields('edit');" id="alimento-edit">
					<option value=""></option>
					{{range $index, $food := .Foods }}
	                <option value="{{$food.Id}}">
						{{$food.Name}}
					</option>
					<script>
						var i = "{{addOne $index}}";
						ar[i] = "{{$food.Id}}#{{$food.Measure}}#{{$food.Qtd}}#{{$food.Cho}}#{{$food.Kcal}}";
					</script>
	            	{{end}}
	            </select>
				<br>
				<br>
                <label class="w3-label" id="labelMeasure">Quantidade de Medida Usual</label>
                <input class="w3-input" type="number" id="qtdMedida-edit" value="" onblur="regraDeTresMedida(this,'edit')">
                <label class="w3-label">Quantidade em g ou ml</label>
                <input class="w3-input" type="number" id="qtd-edit" value="" onblur="regraDeTresQtd(this,'edit')">
				<label class="w3-label">CHO</label>
                <input class="w3-input" id="cho-edit" type="number" name="CHO" value="" readonly="readonly" disabled="disabled">
				<label class="w3-label">Kcal</label>
                <input class="w3-input" id="kcal-edit" type="number" name="Kcal" value="" readonly="readonly" disabled="disabled">
                <button 
					class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" 
					type="button"
					onclick="editarItem()"
					>Salvar
				</button>
                <input type="hidden" id="order-edit" value="" readonly="readonly" disabled="disabled">
            </form>
        </div>
    </div>
</div>
</body>
</html>
