{{define "Create-Integrante"}}
<!-- Create Integrante Form -->
<div class="w3-container">
    <div id="create-integrante-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="top:50px ;width: 1000px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Adicionar novo integrante</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('create-integrante-form').style.display='none'">&times;</span>
            </div>
            <form class="w3-container" id="formulario-integrante-create">
				<label class="w3-label">Integrante</label>
				<br>
	            <select class="w3-input" name="UsuarioForInsert" id="UsuarioForInsert">
					<option value=""></option>
					{{range $index, $membro := .Membros }}
		                <option value="{{$membro.UsuarioId}}">
							{{$membro.UsuarioNome}}
						</option>
		            {{end}}
	            </select>
				<br>
                <label class="w3-label">Inicia Em</label>
				<input class="w3-input" type="date" id="IniciaEmForInsert" name="IniciaEmForInsert" value="">
				<label class="w3-label">Termina Em</label>
				<input class="w3-input" type="date" id="TerminaEmForInsert" name="TerminaEmForInsert" value="">
                <button 
					class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" 
					type="button"
					onclick="criarIntegrante()"
					>Criar
				</button>
            </form>
        </div>
    </div>
</div>
{{end}}