{{define "Edit-Perfil"}}
<!-- Edit Perfil -->
<div class="w3-container">
    <div id="edit-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="width: 1000px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Editar perfil</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('edit-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" action="/updateRole" method="post" id="formulario-perfil-edit">
                <input type="hidden" name="Id" id="RoleIdForUpdate">
                <label class="w3-label">Nome</label>
                <input class="w3-input" type="text" id="RoleNameForUpdate" name="Name" value="">
				<label class="w3-label">Funcionalidades</label>
	            <select class="w3-input" name="FeaturesForUpdate" id="FeaturesForUpdate" multiple style="height:350px; width:100%">
					{{range $index, $feature := .Features }}
		                <option value="{{$feature.Id}}">
							{{$feature.Name}}
						</option>
		            {{end}}
	            </select>
                <label class="w3-label">Descrição</label>
                <textarea class="w3-input" name="Description" id="RoleDescriptionForUpdate" rows="5" value=""></textarea>
				<button class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" type="submit">Salvar</button>
            </form>
        </div>
    </div>
</div>
{{end}}