{{define "List-Avaliar-Papeis"}}
<!-- List Avaliar Papeis -->
<form action="/updateAvaliarPapeis" method="POST" id="form-avaliar-papeis">
<div id="main" class="w3-row-padding">
		<header class="w3-container w3-center w3-teal">
		    <div class="aria">
				<div style="margin-top: 6px;text-align: left;z-index:1">
		    		<a style="font-size:28px;cursor:pointer" onclick="navGadget()">
						&#9776; {{.AppName}}
		    		</a>
				</div>
				    <h3>{{.Title}}</h3>
				<div style="margin-top: 10px;">
                    <span style="position:absolute; top:34px; right:120px">{{.LoggedUser.User.Name}} ( {{.LoggedUser.User.RoleName}} )</span>
					{{$allowed := (call .LoggedUser.HasPermission "avaliarPapeis")}}
				    <a style="margin-top: 6px" href="/logout">
						<span class="icon ion-log-out w3-xxlarge hoverbtn"></span>
					</a>
				</div>
		    </div>
		</header>
        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable">
            <tr>
                <td style="border:1px solid #ddd;width:2%">Linha</td>
				<td style="border:1px solid #ddd;width:4%;vertical-align:middle">Nível</td>
                <td style="text-align:left; width:20%">Sumário</td>
                <td style="width:12%">&nbsp;</td>
                <td style="width:10%">&nbsp;</td>
                <td style="width:9%">&nbsp;</td>
                <td style="width:9%">&nbsp;</td>
                <td style="width:4%">Método</td>
                <td style="width:4%">Nota</td>
				{{if $allowed}}
				<td style="width:20%">&nbsp;</td>
				{{end}}
            </tr>
			{{$linha := 1}}
			{{$primeiraLinha := true}}
			{{$auxPilar := ""}}
			{{$auxComponente := ""}}
			{{$auxTipoNota := ""}}
			{{$auxElemento := ""}}
			{{$auxItem := ""}}
			{{$pesoPadraoEC := ""}}
			{{$elementoNota := ""}}
			{{$elementoPeso := ""}}
			{{$tipoPontuacao := ""}}
			{{$currentUser := .LoggedUser.User.Id}}
			
			<script type="text/javascript">
				entidadesMap = new Map();
				ciclosMap = new Map();
				pilaresMap = new Map();
				componentesMap = new Map();
				tiposNotasMap = new Map();
				elementosMap = new Map();
				itensMap = new Map();
				auditoresMap = new Map();
			</script>
            {{range $index, $produto := .Produtos}}
			<script type="text/javascript">
				entidadesMap.set("{{$produto.EntidadeId}}","{{$produto.EntidadeNome}}");
				ciclosMap.set("{{$produto.CicloId}}","{{$produto.CicloNome}}");
				pilaresMap.set("{{$produto.PilarId}}","{{$produto.PilarNome}}");
				componentesMap.set("{{$produto.ComponenteId}}","{{$produto.ComponenteNome}}");
				tiposNotasMap.set("{{$produto.TipoNotaId}}","{{$produto.TipoNotaNome}}");
				elementosMap.set("{{$produto.ElementoId}}","{{$produto.ElementoNome}}");
				itensMap.set("{{$produto.ItemId}}","{{$produto.ItemNome}}");
				auditoresMap.set("{{$produto.AuditorId}}","{{$produto.AuditorName}}");
			</script>
			{{if $primeiraLinha}}
            <tr style="background-color: aliceblue">
                <td style="border:1px solid #ddd;vertical-align:middle">{{$linha}}</td>
				<td style="border:1px solid #ddd;font-size: 0.7em;vertical-align:middle">EFPC</td>
                <td style="font-size:2em;text-align:left;padding-left: 5px">{{$produto.EntidadeNome}}</td>
                <td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">&nbsp;</td>
				{{if $allowed}}
                <td style="vertical-align:middle">&nbsp;</td>
				{{end}}
            </tr>
            <tr style="background-color: white">
                <td style="border:1px solid #ddd;vertical-align:middle">&nbsp;</td>
				<td style="border:1px solid #ddd;vertical-align:middle;font-size: 0.7em;">Ciclo</td>
                <td style="font-size:1.5em;vertical-align:middle;text-align:left;padding-left: 10px">&nbsp;&nbsp;{{$produto.CicloNome}}</td>
                <td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">
					<select style="width: 75px; text-align:center" class="w3-input" 
						readonly disabled 
						onchange="sinalizarAlteracao(this);">
						<option value="C">C</option>
						<option value="F">F</option>
		            </select>
				</td>
                <td style="vertical-align:middle">
					<input style="font-size:1.5em;width: 90px; text-align:center"
						name="CicloNota{{$produto.ComponenteId}}" 
						class="w3-input" 
						readOnly disabled
						type="number" 
						onchange="sinalizarAlteracao(this)" 
						value="{{$produto.CicloNota}}">
				</td>
				{{if $allowed}}
                <td style="vertical-align:middle">
                    <!--button class="w3-btn w3-teal" onclick="openDet(this)">Detalhar</button>
                    <button class="w3-btn w3-black" onclick="openHist(this)">Histórico</button-->
                </td>
				{{end}}
            </tr>
			{{$primeiraLinha = false}}
			{{end}}
			{{if ne $auxPilar $produto.PilarNome}}
			<tr style="background-color: #f6faff">
                <td style="border:1px solid #ddd;vertical-align:middle" >Linha</td>
				<td style="border:1px solid #ddd;vertical-align:middle">Nível</td>
                <td style="vertical-align:middle;text-align:left">Sumário</td>
                <td style="vertical-align:middle" >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td style="vertical-align:middle">Peso (%)</td>
                <td style="vertical-align:middle">Método</td>
                <td style="vertical-align:middle">Nota</td>
				{{if $allowed}}
				<td style="vertical-align:middle">&nbsp;</td>
				{{end}}
            </tr>
            <tr>
                <td style="border:1px solid #ddd;vertical-align:middle">&nbsp;</td>
				<td style="border:1px solid #ddd;vertical-align:middle;font-size: 0.7em;">Pilar</td>
                <td style="vertical-align:middle;text-align:left;padding-left: 20px">&nbsp;&nbsp;&nbsp;{{$produto.PilarNome}}</td>
				&nbsp;&nbsp;&nbsp;{{$auxPilar = $produto.PilarNome}}
                <td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">
					<input style="width: 75px; text-align:center" class="w3-input" 
						type="number"
						name="PilarPeso_{{$produto.PilarId}}" 
						{{if and (ne $produto.AuditorId $currentUser) (ne $produto.SupervisorId $currentUser)}}readonly disabled{{end}} 
						onchange="sinalizarAlteracao(this);alert()" 
						value="{{ $produto.PilarPeso }}">
				</td>
                <td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">
					<input style="width: 75px; text-align:center" 
						class="w3-input" 
						type="number" 
						name="PilarNota{{$produto.PilarId}}" 
						disabled 
						onchange="sinalizarAlteracao(this)" 
						value="{{$produto.PilarNota}}">
				</td>
				{{if $allowed}}
                <td style="vertical-align:middle">
                    <!--button class="w3-btn w3-teal" onclick="openDet()">Detalhar</button>
                    <button class="w3-btn w3-brown" onclick="openHist()">Histórico</button-->
                </td>
				{{end}}
            </tr>
			{{end}}
			{{if ne $auxComponente $produto.ComponenteNome}}
			<tr style="background-color: #f8fcff" >
                <td style="border:1px solid #ddd;vertical-align:middle" >Linha</td>
				<td style="border:1px solid #ddd;vertical-align:middle">Nível</td>
                <td style="vertical-align:middle;text-align:left" >Sumário</td>
                <td style="vertical-align:middle" >Supervisor</td>
                <td style="vertical-align:middle" >Auditor</td>
                <td style="vertical-align:middle" >Tipo de Nota</td>
                <td style="vertical-align:middle" >Peso</td>
                <td style="vertical-align:middle" >Método</td>
                <td style="vertical-align:middle" >Nota</td>
				{{if $allowed}}
				<td style="vertical-align:middle" >Ações</td>
				{{end}}
            </tr>
            <tr>
                <td style="border:1px solid #ddd;vertical-align:middle">&nbsp;</td>
                <td style="border:1px solid #ddd;vertical-align:middle;font-size: 0.7em;">Componente</td>
                <td style="vertical-align:middle;text-align:left;padding-left: 20px">
					&nbsp;&nbsp;&nbsp;&nbsp;{{$produto.ComponenteNome}} 
				</td>
				{{$auxComponente = $produto.ComponenteNome}}
				{{$auxTipoNota = ""}}
				<td style="vertical-align:middle;text-align:center">{{$produto.SupervisorName}}</td>
                <td style="vertical-align:middle">
					<select class="w3-input" readOnly onchange="sinalizarAlteracao(this);motivarRemocao(this);"
						{{if or (eq $.LoggedUser.User.Role 4) (ne $produto.SupervisorId $currentUser) }}readOnly disabled{{end}} 
						name="AuditorComponente_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}_{{$produto.AuditorId}}">
						<option value=""></option>
						{{range $i, $auditor := $.Auditores }}
			                <option value="{{$auditor.Id}}" {{if eq $produto.AuditorId $auditor.Id}}selected{{end}}>
								{{$auditor.Name}}
							</option>
			            {{end}}
		            </select>
					<input type="hidden" name="MotivacaoRemocao" value="">
				</td>
				<td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">
					<input style="width: 75px; text-align:center" 
						class="w3-input" 
						type="number" disabled 
						onchange="sinalizarAlteracao(this)" 
						value="{{$produto.ComponentePeso}}">
				</td>
                <td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">
					<input style="width: 75px; text-align:center" 
						class="w3-input" 
						type="number" 
						name="ComponenteNota{{$produto.ComponenteId}}" 
						disabled 
						onchange="sinalizarAlteracao(this)" 
						value="{{$produto.ComponenteNota}}">
				</td>
				{{if $allowed}}
                <td style="vertical-align:middle">
                    <!--button class="w3-btn w3-teal" onclick="openDet(this)">Detalhar</button>
                    <button class="w3-btn w3-deep-green" onclick="openHist(this)">Histórico</button-->
                </td>
				{{end}}					
        	</tr>
			{{end}}				
			{{if or (ne $auxComponente $produto.ComponenteNome) (ne $auxTipoNota $produto.TipoNotaNome) }}
            <tr>
                <td style="border:1px solid #ddd;vertical-align:middle">&nbsp;</td>
				<td style="border:1px solid #ddd;vertical-align:middle;font-size: 0.7em;">Tipo de Nota</td>
                <td style="vertical-align:middle;text-align:left;padding-left: 20px">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{$produto.TipoNotaNome}} 
				</td>
				{{$auxTipoNota = $produto.TipoNotaNome}}
				<td style="vertical-align:middle;text-align:center">&nbsp;</td>
                <td style="vertical-align:middle">&nbsp;
				</td>
				<td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">
					{{ $combine := (printf "%v%v" $produto.TipoNotaPeso " %") }}
					<input style="width: 85px; text-align:center" 
						class="w3-input" 
						type="text" disabled 
						onchange="sinalizarAlteracao(this)" 
						value="{{ $combine }}">
				</td>
                <td style="vertical-align:middle">&nbsp;</td>
                <td style="vertical-align:middle">
					<input style="width: 75px; text-align:center" 
						class="w3-input" 
						type="number" 
						name="TipoNotaNota{{$produto.TipoNotaId}}" 
						disabled 
						onchange="sinalizarAlteracao(this)" 
						value="{{$produto.TipoNotaNota}}">
				</td>
				{{if $allowed}}
                <td style="vertical-align:middle">
                    <!--button class="w3-btn w3-teal" onclick="openDet(this)">Detalhar</button>
                    <button class="w3-btn w3-deep-green" onclick="openHist(this)">Histórico</button-->
                </td>
				{{end}}					
        	</tr>
			{{end}}				
			{{if ne $auxElemento $produto.ElementoNome}}
            <tr>
                <td style="border:1px solid #ddd;">&nbsp;</td>
                <td style="border:1px solid #ddd;vertical-align:middle;font-size: 0.7em;">Elemento</td>
                <td style="vertical-align:middle;text-align:left;padding-left: 20px">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{$produto.ElementoNome}}
				</td>
				{{$auxElemento = $produto.ElementoNome}}
                <td>&nbsp;</td>
                <td>&nbsp;</td>
				{{ $bgColor := (printf "%v%v" "#" $produto.TipoNotaCorLetra ) }}
                <td style="vertical-align:middle">
					<input style="color:white; background-color:{{print $bgColor}};width: 75px; text-align:center"
						disabled 
						type="text" 
						value="{{$produto.TipoNotaLetra}}">
                <td style="vertical-align:middle">
				{{$pesoPadraoEC = $produto.PesoPadraoEC}}
				{{$elementoPeso = $produto.ElementoPeso}}
					<select style="width: 75px; text-align:center" class="w3-input" 
						name="ElementoPeso_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}_{{$produto.TipoNotaId}}_{{$produto.ElementoId}}_{{$elementoPeso}}"
						{{if ne $produto.SupervisorId $currentUser}}disabled{{end}}
						onchange="sinalizarAlteracao(this); motivarPeso(this);">
						<option value="0" {{if eq $elementoPeso "1" }}selected{{end}}>N/A</option>
						<option value="1" {{if eq $elementoPeso "1" }}selected{{end}}>1</option>
						<option value="2" {{if eq $elementoPeso "2" }}selected{{end}}>2</option>
						<option value="4" {{if eq $elementoPeso "4" }}selected{{end}}>4</option>
						<option value="8" {{if eq $elementoPeso "8" }}selected{{end}}>8</option>
		            </select>	
				</td>
                <td style="vertical-align:middle">
				{{$tipoPontuacao = $produto.TipoPontuacaoId}}
					<select style="width: 75px; text-align:center" class="w3-input"
						readonly disabled 
						onchange="sinalizarAlteracao(this);">
						<option value="1" {{if eq $tipoPontuacao "1" }}selected{{end}}>M</option>
						<option value="2" {{if eq $tipoPontuacao "2" }}selected{{end}}>C</option>
						<option value="3" {{if eq $tipoPontuacao "3" }}selected{{end}}>A</option>
		            </select>
				</td>
                <td style="vertical-align:middle">
					{{$elementoNota = $produto.ElementoNota}}
					<select style="width: 75px; text-align:center" 
						class="w3-input" 
						{{if and (ne $produto.AuditorId $currentUser) (ne $produto.SupervisorId $currentUser)}}readonly disabled{{end}}
						name="ElementoNota_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}_{{$produto.TipoNotaId}}_{{$produto.ElementoId}}_{{$elementoNota}}"
						onchange="sinalizarAlteracao(this); motivarNota(this);">
						<option value="1" {{if eq $elementoNota "1" }}selected{{end}}>1</option>
						<option value="2" {{if eq $elementoNota "2" }}selected{{end}}>2</option>
						<option value="3" {{if eq $elementoNota "3" }}selected{{end}}>3</option>
						<option value="4" {{if eq $elementoNota "4" }}selected{{end}}>4</option>
		            </select>
					<input type="hidden" id="MotivacaoNota" name="MotivacaoNota" value="">
					<input type="hidden" id="MotivacaoPeso" name="MotivacaoPeso" value="">
				</td>
				{{if $allowed}}
                <td>
                    <button class="w3-btn w3-teal"
						name="DetalheElemento_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}_{{$produto.TipoNotaId}}_{{$produto.ElementoId}}_{{$elementoPeso}}_{{$elementoNota}}" 
						onclick="openDet(this)">Detalhar</button>&nbsp;
                    <button class="w3-btn w3-dark-green"
						name="HistoricoElemento_{{$produto.EntidadeId}}_{{$produto.CicloId}}_{{$produto.PilarId}}_{{$produto.ComponenteId}}_{{$produto.TipoNotaId}}_{{$produto.ElementoId}}_{{$elementoNota}}" 
						onclick="openHistElemento(this)">Histórico</button>
                </td>
				{{end}}
            </tr>
			{{end}}				
			<tr>
                <td style="border:1px solid #ddd;">{{$produto.Order}}</td>
                <td style="border:1px solid #ddd;vertical-align:middle;font-size: 0.7em;">Item</td>
                <td style="vertical-align:middle;text-align:left;padding-left: 30px">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{$produto.ItemNome}}
				</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
				{{if $allowed}}
                <td>
                    <!--button class="w3-btn w3-teal" onclick="openDet(this)">Detalhar</button>
                    <button class="w3-btn w3-green" onclick="openHist(this)">Histórico</button-->
                </td>
				{{end}}
            </tr>
       		{{end}}
        </table>
    </div>
</div>
</form>
{{end}}