{{ define "Menu" }}
<div id="mySidenav" class="sidenav">
  <div style="float: right;"><a href="javascript:void(0)" class="closebtn" onclick="navGadget()">&times;</a></div>
  <div sytle="position:absolute;top:0px;left:25px;z-index:1"><br>
	    <img src="/statics/images/Banner_Previc.png" alt="Virtus" class="logo">
	</div>
	<br>
	<br>
  
  <a href="#">Sobre</a>
  {{if (call .LoggedUser.HasPermission "designarPapeis")}}
  <a href="/listDesignarPapeis">Designar Papéis</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "distribuirPapeis")}}
  <a href="/listDistribuirPapeis">Distribuir Papéis</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "avaliarPapeis")}}
  <a href="/listAvaliarPapeis">Avaliar Papéis</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "viewMatriz")}}
  <a href="/entidades">Matrizes</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listEntidades")}}
  <a href="/entidades">Entidades</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listCiclos")}}
  <a href="/ciclos">Ciclos</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listPilares")}}
  <a href="/pilares">Pilares</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listComponentes")}}
  <a href="/componentes">Componentes</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listTiposNotas")}}
  <a href="/tiposnotas">Tipos de Nota</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listElementos")}}
  <a href="/elementos">Elementos</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listUsers")}}
  <a href="/users">Usuários</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listEscritorios")}}
  <a href="/escritorios">Escritórios</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listRoles")}}
  <a href="/perfis">Perfis</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listFeatures")}}
  <a href="/features">Funcionalidades</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listStatus")}}
  <a href="/status">Status</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listActions")}}
  <a href="/actions">Ações</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listWorkflows")}}
  <a href="/workflows">Workflows</a>
  {{end}}
</div>
{{end}}