{{ define "Main-Avaliar-Planos" }}
<html lang="pt">
	{{ template "Header" .Title }}
<body>
{{ template "Motivar-Nota" . }}
{{ template "Motivar-Peso" . }}
{{ template "Motivar-Peso-Pilar" . }}
{{ template "Motivar-Remocao" . }}
{{ template "Detalhar-Elemento" . }}
{{ template "Historico-Elemento" . }}
{{ template "Historico-Componente" . }}
{{ template "Historico-Pilar" . }}
{{ template "Motivo" . }}
{{ template "Motivo-Remocao" . }}
{{ template "Menu" . }}
{{ template "Analise" . }}
{{ template "Descricao" . }}
{{ template "Error-Message" .ErrMsg }}
{{ template "Message" .Msg }}
{{ template "List-Avaliar-Planos" . }}
</body>
</html>
{{end}}
