{{define "Edit-Master"}}
<!-- Edit Master Form -->
<div class="w3-container">
    <div id="edit-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 800px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Editar refeição</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('edit-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container" action="/updateMeal" method="post">
                <label class="w3-label">Tipo de Refeição</label>
				<br>	
				<input type="hidden" name="Id" id="MealIdForUpdate">
	            <select name="MealTypeForUpdate" id="MealTypeForUpdate">
					<option value=""></option>
					{{range $index, $mealType := . }}
		                <option value="{{$mealType.Id}}">
							{{$mealType.Name}}
						</option>
		            {{end}}
	            </select>
				<br>
				<br>
                <label class="w3-label">Data</label>
                <input class="w3-input" type="date" id="DateForUpdate" name="DateForUpdate" value="">
                <label class="w3-label">Horário Inicial</label>
                <input class="w3-input" type="time" id="StartAtForUpdate" name="StartAtForUpdate" value="">
                <label class="w3-label">Horário de Término</label>
                <input class="w3-input" type="time" id="EndAtForUpdate" name="EndAtForUpdate" value="">
				<label class="w3-label">Bolus</label>
                <input class="w3-input" type="number" id="BolusForUpdate" name="BolusForUpdate" value="">
		        <header class="w3-container w3-center w3-teal">
		            <div class="w3-row">
		                <div class="w3-half">
		                    <h4 class="w3-right">Itens</h4>
		                </div>
		                <div class="w3-half w3-text-right" style="position:relative;z-index:2">
		                    <div class="w3-right">
		                        <a href="#" onclick="contexto='edit';document.getElementById('create-item-form').style.display='block'">
		                            <i class="icon ion-ios-plus-outline w3-xxlarge hoverbtn"></i>
		                        </a>
		                    </div>
		                </div>
		            </div>
		        </header>
		        <table class="w3-table w3-centered w3-border w3-bordered w3-hoverable" id="table-items-edit">
		            <thead>
		            <tr>
		                <th>Alimento</th>
		                <th>Quantidade</th>
		                <th>CHO</th>
		                <th>Kcal</th>
						<th>Ações</th>
		            </tr>
		            </thead>
		            <tbody>
		            </tbody>
		        </table>
                <button class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" type="submit">Salvar</button>
            </form>
        </div>
    </div>
</div>
{{end}}