{{define "Edit-Detail"}}
<!-- Edit Detail Form -->
<div class="w3-container">
    <div id="edit-item-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="top:50px ;max-width: 600px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Editar item da refeição</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('edit-item-form').style.display='none'">&times;</span>
            </div>

            <form class="w3-container">
				<input type="hidden" id="id-edit" value="">
				<input type="hidden" id="meal-id-edit" value="">
                <label class="w3-label">Alimento</label>
				<br>	
				<script>
					var ar = [];
					var i = 0;
				</script>					
	            <select onchange="changeLabelMeasure(this); resetFields('edit');" id="alimento-edit">
					<option value=""></option>
					{{range $index, $food := . }}
	                <option value="{{$food.Id}}">
						{{$food.Name}}
					</option>
					<script>
						ar[i] = "{{$food.Id}}#{{$food.Measure}}#{{$food.Qtd}}#{{$food.Cho}}#{{$food.Kcal}}";
						i ++;
					</script>
	            	{{end}}
	            </select>
				<br>
				<br>
                <label class="w3-label" id="labelMeasure">Quantidade de Medida Usual</label>
                <input class="w3-input" type="number" id="qtdMedida-edit" value="" onblur="regraDeTresMedida(this,'edit')">
                <label class="w3-label">Quantidade em g ou ml</label>
                <input class="w3-input" type="number" id="qtd-edit" value="" onblur="regraDeTresQtd(this,'edit')">
				<label class="w3-label">CHO</label>
                <input class="w3-input" id="cho-edit" type="number" name="CHO" value="" readonly="readonly" disabled="disabled">
				<label class="w3-label">Kcal</label>
                <input class="w3-input" id="kcal-edit" type="number" name="Kcal" value="" readonly="readonly" disabled="disabled">
                <button 
					class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" 
					type="button"
					onclick="editarItem()"
					>Salvar
				</button>
                <input type="hidden" id="order-edit" value="" readonly="readonly" disabled="disabled">
            </form>
        </div>
    </div>
</div>
{{end}}